<footer class="section-p1">
    <div class="col">
       
        <h4>Contacto</h4>
        <p><strong>Ubicación:</strong> Buenos Aires, Capital Federal</p>
        <p><strong>Whatsapp:</strong>+549 1121641437</p>
        <p><strong>Atención:</strong>8 - 20hs</p>
        <div class="follow">
            <h4>Seguimos</h4>
            <div class="icon">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
        </div>
    </div>
    <div class="col">
        <h4>Nosotros</h4>
        <a href="">Acerca de nosotros</a>
        <a href="">Privacidad</a>
        <a href="">Términos y condiciones</a>
        <a href="">Contactanos</a>
    </div>
    <div class="col">
        <h4>Mi cuenta</h4>
        <a href="">Iniciar Sesión</a>
        <a href="">Ver compras</a>
        <a href="">Carrito</a>
        <a href="">Ayuda</a>
    </div>
    <div class="col install">
        <h4>Medios de pago</h4>
        <p>Seguridad garantizada</p>
        <img src="/images/pagopaypal.jpg" alt="" width="180px">
    </div>
    <div class="copyright">
        <p>© 2022 Mateando - HTML CSS - Noelia Romina Acosta</p>
    </div>
   </footer>