<header id="header">
    <a href="/"><img src="/images/logo1.png" class="logo" alt=""></a>

    <div>
        <ul id="navbar">
         
            <% if (locals.userLogin?.rol===1) { %>
              <li><a href="/users/admin">Admin</a></li>

          <% } %>
          <li><a href="/products">Catálogo</a></li>
          <li><a href="/products/category/1">Mates</a></li>
          <li><a href="/products/category/2">Termos</a></li>
          <li><a href="/products/category/3">Kits</a></li>
          <% if (!locals.userLogin) { %>
              <li class="register"><a href="/users/register">Registrarse</a></li>
              <li class="login"><a href="/users/login">Entrar</a></li>
          <% }else{ %>
             
            <li id="lg-bag"><a href="cart"><i class="fa-solid fa-bag-shopping"></i></a></li>
            <a href="#"><i id="close" class="fa-solid fa-xmark"></i></a>
            <li><a href="/users/logout"><i class="fa-solid fa-door-open"></i></a></li>
          <% } %>



        </ul>
    </div>
    <div id="mobile">
        <a href="cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
      <a href="#"><i id="bar" class="fa-solid fa-circle-xmark"></i></a>  

    </div>
</header>
