<header id="header">
    <a href="/"><img src="/images/icono.png" class="logo" alt=""></a>

    <div>
        <ul id="navbar">
        
            <% if (locals.userLogin?.rol==="admin") { %>
              <li><a href="/products/add">Añadir productos</a></li>

          <% } %>
          <li><a href="/products">Catálogo</a></li>
          <li><a href="/products/category/1">Mates</a></li>
          <li><a href="/products/category/2">Termos</a></li>
          <li><a href="/products/category/3">Kits</a></li>
          <% if (!locals.userLogin) { %>
              <li class="register"><a href="/users/register">Registrarse</a></li>
              <li class="login"><a href="/users/login">Entrar</a></li>
          <% }else{ %>
             
            <li id="lg-bag"><a href="cart"><i class="fa-solid fa-bag-shopping"></i></a></li>
            <a href="#"><i id="close" class="fa-solid fa-xmark"></i></a>

          <% } %>



        </ul>
    </div>
    <div id="mobile">
        <a href="cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
      <a href="#"><i id="bar" class="fa-solid fa-circle-xmark"></i></a>  

    </div>
</header>
