<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{
        title : 'Mateando'
    }) %> 

<body>
    <%- include('./partials/header') %> 

    <section id="hero">
      
        <h2>Con vos siempre</h2>
        <h1>Mateando</h1>
     
        <a href="/explora"><button>Explorar</button></a>
    </section>


   <section id="banner3">
    <div class="banner-box">
        <h2>Mates de madera</h2>
        <h3>20% off con MercadoPago</h3>
    </div>
    <div class="banner-box  banner-box2">
        <h2>Mates de calabaza</h2>
        <h3>20% off con MercadoPago</h3>
    </div>
    <div class="banner-box  banner-box3">
        <h2>Mates de acero</h2>
        <h3>20% off con MercadoPago</h3>
    </div>
   </section>


   <section id="novedades" class="section-p1 section-m1">
       <div class="novedadtexto">
           <h4>Suscribite para novedades y</h4>
           <p>Obtené <span>cupones</span> especiales de descuento</p>
       </div>
       <div class="form">
           <input type="text" placeholder="Tu email">
           <button class="normal">Enviame</button>
       </div>
   </section>


   <%- include('./partials/footer') %> 
    <script src="/javascripts/script.js"></script>
</body>

</html>