<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/99a633ec0f.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <title>Mateando</title>
</head>

<body>
    <header id="header">
        <a href="#"><img src="/images/icono.png" class="logo" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a class="active" href="/">Home</a></li>
                <li><a href="products.html">Catálogo</a></li>
                <li><a href="about.html">Nuevos</a></li>
                <li><a href="about.html">Nosotrxs</a></li>
                <li><a href="contact.html">Contacto</a></li>
                <li><a href="cart.html"><i class="fa-solid fa-bag-shopping"></i></a></li>
            </ul>
        </div>
    </header>

  


   <footer class="section-p1">
    <div class="col">
        <img class="logo" src="/images/icono.png" alt="" width="180px">
        <h4>Contacto</h4>
        <p><strong>Ubicación:</strong> Buenos Aires, Capital Federal</p>
        <p><strong>Whatsapp:</strong>+549 1121641437</p>
        <p><strong>Atención:</strong>8 - 20hs</p>
        <div class="follow">
            <h4>Seguimos</h4>
            <div class="icon">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
        </div>
    </div>
    <div class="col">
        <h4>Nosotros</h4>
        <a href="">Acerca de nosotros</a>
        <a href="">Privacidad</a>
        <a href="">Términos y condiciones</a>
        <a href="">Contactanos</a>
    </div>
    <div class="col">
        <h4>Mi cuenta</h4>
        <a href="">Iniciar Sesión</a>
        <a href="">Ver compras</a>
        <a href="">Carrito</a>
        <a href="">Ayuda</a>
    </div>
    <div class="col install">
        <h4>Medios de pago</h4>
        <p>Seguridad garantizada</p>
        <img src="/images/pagopaypal.jpg" alt="" width="180px">
    </div>
    <div class="copyright">
        <p>© 2022 Mateando - HTML CSS - Noelia Romina Acosta</p>
    </div>
   </footer>
    <script src="script.js"></script>
</body>

</html>