<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{
        title : 'Mateando'
    }) %> 

<body>
    <%- include('./partials/header') %> 
   
<!-- HERO SECTION** -->
    <section id="hero">
      
        <h2>Con vos siempre</h2>
        <h1>Mateando</h1>
     
        <a href="/explora"><button>Explorar</button></a>
    </section>

 

<!-- BANNER SECTION -->
   <section id="banner3">
    <div class="banner-box">
      <a href="/products/category/1"><h2>Mates premium</h2></a>
    </div>
    <div class="banner-box  banner-box2">
       <a href="/products/category/2"><h2>Termos premium</h2></a>
    </div>
    <div class="banner-box  banner-box3">
       <a href="/products/category/3"><h2>Kits premium</h2></a>
    </div>
  <article class="discover">
    <a href="/products">Miralos acá</a>
  </article>
   </section>
 <!--**BANNER**-->
 <section class="home">
    <div class="carousel">
        <div class="slides">
          <img
            src="../images/bannerdescuento.jpeg"
            alt="slide image"
            class="slide"
          />
          <img
            src="../images/bannercompartir.jpeg"
            alt="slide image"
            class="slide"
          />
          <img
            src="../images/banner.jpg"
            alt="slide image"
            class="slide"
          />
        </div>
        <div class="controls">
          <div class="control prev-slide">&#9668;</div>
          <div class="control next-slide">&#9658;</div>
        </div>
      </div>
  </section>
<!-- FORM SECTION -->
   <section id="novedades" class="section-p1 section-m1">
       <div class="novedadtexto">
           <h4>Suscribite para novedades y</h4>
           <p>Obtené <span>cupones</span> especiales de descuento</p>
       </div>
       <div class="form">
           <input type="text" placeholder="Tu email">
           <button class="normal">Enviame</button>
       </div>
   </section>


   <%- include('./partials/footer') %> 
    <script src="/javascripts/script.js"></script>
</body>

</html>