<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/99a633ec0f.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <title>Mateando</title>
</head>

<body>
    <header id="header">
        <a href="#"><img src="/images/icono.png" class="logo" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a class="active" href="/">Home</a></li>
                <li><a href="products.html">Catálogo</a></li>
                <li><a href="about.html">Nuevos</a></li>
                <li><a href="about.html">Nosotrxs</a></li>
                <li><a href="contact.html">Contacto</a></li>
                <li><a href="cart.html"><i class="fa-solid fa-bag-shopping"></i></a></li>
            </ul>
        </div>
    </header>

    <section id="hero">
        <h4>35% de descuentos</h4>
        <h2>Con vos siempre</h2>
        <h1>Mateando</h1>
        <p>Con mercadopago tenés 2x1 en mates de madera</p>
        <button>Compra ahora</button>
    </section>

    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="/images/20220323_113618-11-ba0e99af9f275962a016480581521274-640-0.jpg" alt="">
            <h6>envío gratis</h6>
        </div>
        <div class="fe-box">
            <img src="/images/20220322_08225511-d8f033447a03672b0d16480587778346-640-0.jpg" alt="">
            <h6>envío gratis</h6>
        </div>
        <div class="fe-box">
            <img src="/images/20220401_0924341-d6e759865d7b3f5acb16488213569062-640-0.jpg" alt="">
            <h6>oferta</h6>
        </div>
        <div class="fe-box">
            <img src="/images/Mate de @la_rosenda (1).jpg" alt="">
            <h6>oferta</h6>
        </div>
        <div class="fe-box">
            <img src="/images/Mate de @la_rosenda (2).jpg" alt="" width="130px" height="150px">
            <h6>oferta</h6>
        </div>
        <div class="fe-box">
            <img src="/images/luli-gamburd-Aps0wpkbarM-unsplash.jpg" alt="">
            <h6>oferta</h6>
        </div>
    </section>

    <section id="product1" class="section-p1">
        <h2>Destacados</h2>
        <p>Calidad premium, mateando siempre con vos</p>
        <div class="pro-container">
            <div class="pro">
                <img src="/images/Mate de @la_rosenda.jpg" alt="">
                <div class="des">
                    <span>La rosenda</span>
                    <h5>Mate floreado madera</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                    </div>
                    <h4>$2.300</h4>
                </div>
                <div class="cart">
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>

                </div>
            </div>
            <div class="pro">
                <img src="/images/Mate Frida clásico f_lila.jpg" alt="">
                <div class="des">
                    <span>La rosenda</span>
                    <h5>Mate floreado madera</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                    </div>
                    <h4>$2.300</h4>
                </div>
                <div class="cart">
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>

                </div>
            </div>
            <div class="pro">
                <img src="/images/Mate paisajes @aeternumartesanias.jpg" alt="">
                <div class="des">
                    <span>La rosenda</span>
                    <h5>Mate floreado madera</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                    </div>
                    <h4>$2.300</h4>
                </div>
                <div class="cart">
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>

                </div>
            </div>
            <div class="pro">
                <img src="/images/mate pintado con diseño de marganitas.jpg" alt="">
                <div class="des">
                    <span>La rosenda</span>
                    <h5>Mate floreado madera</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                    </div>
                    <h4>$2.300</h4>
                </div>
                <div class="cart">
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>

                </div>
            </div>
            <div class="pro">
                <img src="/images/mate porongo de calabaza repujada y plata.jpg" alt="">
                <div class="des">
                    <span>La rosenda</span>
                    <h5>Mate floreado madera</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                    </div>
                    <h4>$2.300</h4>
                </div>
                <div class="cart">
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>

                </div>
            </div>
            <div class="pro">
                <img src="/images/Mate Y Bombilla De Alpaca Con Piedra Agata….jpg" alt="">
                <div class="des">
                    <span>La rosenda</span>
                    <h5>Mate floreado madera</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                    </div>
                    <h4>$2.300</h4>
                </div>
                <div class="cart">
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>

                </div>
            </div>
            <div class="pro">
                <img src="/images/Mate-Ceramica-con-bombilla-alpaca-.jpg" alt="">
                <div class="des">
                    <span>La rosenda</span>
                    <h5>Mate floreado madera</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                    </div>
                    <h4>$2.300</h4>
                </div>
                <div class="cart">
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>

                </div>
            </div>
            <div class="pro">
                <img src="/images/matealpaca.jpg" alt="">
                <div class="des">
                    <span>La rosenda</span>
                    <h5>Mate floreado madera</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                    </div>
                    <h4>$2.300</h4>
                </div>
                <div class="cart">
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>

                </div>
            </div>
        </div>
    </section>

    <section id="banner" class="section-m1">
        <h4>Exclusivo Mayo</h4>
        <h2>Tenés <span>50% de descuento</span> comprando Stanley</h2>
        <button class="normal">Ver más</button>
    </section>

    <section id="product1" class="section-p1">
        <h2>Más vendidos</h2>
        <p>Calidad premium, mateando siempre con vos</p>
        <div class="pro-container">
            <div class="pro">
                <img src="/images/mateblanco.jpg" alt="">
                <div class="des">
                    <span>La rosenda</span>
                    <h5>Mate floreado madera</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                    </div>
                    <h4>$2.300</h4>
                </div>
                <div class="cart">
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>

                </div>
            </div>
            <div class="pro">
                <img src="/images/mateflores.jpg" alt="">
                <div class="des">
                    <span>La rosenda</span>
                    <h5>Mate floreado madera</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                    </div>
                    <h4>$2.300</h4>
                </div>
                <div class="cart">
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>

                </div>
            </div>
            <div class="pro">
                <img src="/images/mategatos.jpg" alt="">
                <div class="des">
                    <span>La rosenda</span>
                    <h5>Mate floreado madera</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                    </div>
                    <h4>$2.300</h4>
                </div>
                <div class="cart">
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>

                </div>
            </div>
            <div class="pro">
                <img src="/images/mategris.jpg" alt="">
                <div class="des">
                    <span>La rosenda</span>
                    <h5>Mate floreado madera</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                    </div>
                    <h4>$2.300</h4>
                </div>
                <div class="cart">
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>

                </div>
            </div>
            <div class="pro">
                <img src="/images/matelila.jpg" alt="">
                <div class="des">
                    <span>La rosenda</span>
                    <h5>Mate floreado madera</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                    </div>
                    <h4>$2.300</h4>
                </div>
                <div class="cart">
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>

                </div>
            </div>
            <div class="pro">
                <img src="/images/MATES DE CUERO.jpg" alt="">
                <div class="des">
                    <span>La rosenda</span>
                    <h5>Mate floreado madera</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                    </div>
                    <h4>$2.300</h4>
                </div>
                <div class="cart">
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>

                </div>
            </div>
            <div class="pro">
                <img src="/images/MATES Y OBJETOS PINTADOS on Instagram_ “Divinos estos mates ❤”.jpg" alt="">
                <div class="des">
                    <span>La rosenda</span>
                    <h5>Mate floreado madera</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                    </div>
                    <h4>$2.300</h4>
                </div>
                <div class="cart">
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>

                </div>
            </div>
            <div class="pro">
                <img src="/images/MATES_8125.jpg" alt="">
                <div class="des">
                    <span>La rosenda</span>
                    <h5>Mate floreado madera</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                    </div>
                    <h4>$2.300</h4>
                </div>
                <div class="cart">
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>

                </div>
            </div>
        </div>
    </section>
   
   <section id="sm-banner" class="section-p1">
        <div class="banner-box">
            <h4>Ofertones</h4>
            <h2>Tenés 2x1</h2>
            <span>Los mejores mates de acero</span>
            <button class="white">Ver más</button>
        </div>
        <div class="banner-box banner-box2">
            <h4>Ofertones</h4>
            <h2>25% OFF</h2>
            <span>Pagando con débito</span>
            <button class="white">Ver más</button>
        </div>
   </section>

   <section id="banner3">
    <div class="banner-box">
        <h2>Mates de madera</h2>
        <h3>20% off con MercadoPago</h3>
    </div>
    <div class="banner-box  banner-box2">
        <h2>Mates de calabaza</h2>
        <h3>20% off con MercadoPago</h3>
    </div>
    <div class="banner-box  banner-box3">
        <h2>Mates de acero</h2>
        <h3>20% off con MercadoPago</h3>
    </div>
   </section>


   <section id="novedades" class="section-p1 section-m1">
       <div class="novedadtexto">
           <h4>Suscribite para novedades y</h4>
           <p>Obtené <span>cupones</span> especiales de descuento</p>
       </div>
       <div class="form">
           <input type="text" placeholder="Tu email">
           <button class="normal">Enviame</button>
       </div>
   </section>


   <footer class="section-p1">
    <div class="col">
        <img class="logo" src="/images/icono.png" alt="" width="180px">
        <h4>Contacto</h4>
        <p><strong>Ubicación:</strong> Buenos Aires, Capital Federal</p>
        <p><strong>Whatsapp:</strong>+549 1121641437</p>
        <p><strong>Atención:</strong>8 - 20hs</p>
        <div class="follow">
            <h4>Seguimos</h4>
            <div class="icon">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
        </div>
    </div>
    <div class="col">
        <h4>Nosotros</h4>
        <a href="">Acerca de nosotros</a>
        <a href="">Privacidad</a>
        <a href="">Términos y condiciones</a>
        <a href="">Contactanos</a>
    </div>
    <div class="col">
        <h4>Mi cuenta</h4>
        <a href="">Iniciar Sesión</a>
        <a href="">Ver compras</a>
        <a href="">Carrito</a>
        <a href="">Ayuda</a>
    </div>
    <div class="col install">
        <h4>Medios de pago</h4>
        <p>Seguridad garantizada</p>
        <img src="/images/pagopaypal.jpg" alt="" width="180px">
    </div>
    <div class="copyright">
        <p>© 2022 Mateando - HTML CSS - Noelia Romina Acosta</p>
    </div>
   </footer>
    <script src="script.js"></script>
</body>

</html>