<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{
        title : 'Inicia sesión'
    }) %> 
<body>
    <%- include('./partials/header') %> 

        <div class="container">
            <form action="" method="POST">
                <div class="form first">
                    <div class="details personal">
                        <span class="title">Personal Details</span>
    
                        <div class="fields">
                          
                            <div class="input-field">
                                <label>Email</label>
                                <input type="text" placeholder="Enter your email" required name="email">
                            </div>
    
                            <div class="input-field">
                                <label>Password</label>
                                <input type="password" placeholder="Enter your ccupation" required name="password">
                            </div>
                        </div>
                    </div>
    
                    
                </div>
    
            </form>
        </div>
    
        <!--<script src="script.js"></script>-->
    </body>


    <%- include('./partials/footer') %> 
</body>
</html>