<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{
        title : 'Mateando'
    }) %> 

<body class="products">
    <%- include('./partials/header') %> 

    <section id="page-header">
        <h2>Con vos siempre</h2>
        <p>Con mercadopago tenés 2x1 en mates de madera</p>
    </section>


    <section id="product1" class="section-p1">
      <div class="pro-container">
            <div class="pro">
                <div class="img">
                  
                </div>
                <div class="des">
                    <span>La rosenda</span>
                    <h5>Mate floreado madera</h5>
                    <div class="star" >
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                    </div>
                    <h4>$2.300</h4>
                </div>
                <div class="cart">
                    <a href="/detail"><i class="fa-solid fa-cart-shopping"></i></a>

                </div>
            </div>
            <div class="pro">
                <div class ="img0">
                   
                </div>
                <div class="des">
                    <span>La rosenda</span>
                    <h5>Mate floreado madera</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                    </div>
                    <h4>$2.300</h4>
                </div>
                <div class="cart">
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>

                </div>
            </div>
            <div class="pro">
                <div class ="img1">

                </div>
                <div class="des">
                    <span>La rosenda</span>
                    <h5>Mate floreado madera</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                    </div>
                    <h4>$2.300</h4>
                </div>
                <div class="cart">
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>

                </div>
            </div>
            <div class="pro">
                <div class ="img2">

                </div>
                <div class="des">
                    <span>La rosenda</span>
                    <h5>Mate floreado madera</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                    </div>
                    <h4>$2.300</h4>
                </div>
                <div class="cart">
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>

                </div>
            </div>
            <div class="pro">
                <div class ="img3">

                </div>
                <div class="des">
                    <span>La rosenda</span>
                    <h5>Mate floreado madera</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                    </div>
                    <h4>$2.300</h4>
                </div>
                <div class="cart">
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>

                </div>
            </div>
            <div class="pro">
                <div class ="img4">
                 

                </div>
                <div class="des">
                    <span>La rosenda</span>
                    <h5>Mate floreado madera</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                    </div>
                    <h4>$2.300</h4>
                </div>
                <div class="cart">
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>

                </div>
            </div>
            <div class="pro">
                <div class ="img5">
                   
                </div>
                <div class="des">
                    <span>La rosenda</span>
                    <h5>Mate floreado madera</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                    </div>
                    <h4>$2.300</h4>
                </div>
                <div class="cart">
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>

                </div>
            </div>
            <div class="pro">
                <div class ="img6">

                </div>
                <div class="des">
                    <span>La rosenda</span>
                    <h5>Mate floreado madera</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                    </div>
                    <h4>$2.300</h4>
                </div>
                <div class="cart">
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>

                </div>
            </div>
      
            <div class="pro">
                <div class ="img14">
                    

                </div>
                <div class="des">
                    <span>La rosenda</span>
                    <h5>Mate floreado madera</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                    </div>
                    <h4>$2.300</h4>
                </div>
                <div class="cart">
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>

                </div>
            </div>
            <div class="pro">
                <div class ="img7">
                   

                </div>
                <div class="des">
                    <span>La rosenda</span>
                    <h5>Mate floreado madera</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                    </div>
                    <h4>$2.300</h4>
                </div>
                <div class="cart">
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>

                </div>
            </div>
            <div class="pro">
                <div class ="img8">
           

                </div>
                <div class="des">
                    <span>La rosenda</span>
                    <h5>Mate floreado madera</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                    </div>
                    <h4>$2.300</h4>
                </div>
                <div class="cart">
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>

                </div>
            </div>
            <div class="pro">
                <div class ="img9">
                

                </div>
                <div class="des">
                    <span>La rosenda</span>
                    <h5>Mate floreado madera</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                    </div>
                    <h4>$2.300</h4>
                </div>
                <div class="cart">
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>

                </div>
            </div>
            <div class="pro">
                <div class ="img10">
      

                </div>
                <div class="des">
                    <span>La rosenda</span>
                    <h5>Mate floreado madera</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                    </div>
                    <h4>$2.300</h4>
                </div>
                <div class="cart">
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>

                </div>
            </div>
            <div class="pro">
                <div class ="img11">
                 
                </div>
                <div class="des">
                    <span>La rosenda</span>
                    <h5>Mate floreado madera</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                    </div>
                    <h4>$2.300</h4>
                </div>
                <div class="cart">
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>

                </div>
            </div>
            <div class="pro">
                <div class ="img12">

                </div>
                <div class="des">
                    <span>La rosenda</span>
                    <h5>Mate floreado madera</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                    </div>
                    <h4>$2.300</h4>
                </div>
                <div class="cart">
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>

                </div>
            </div>
            <div class="pro">
                <div class ="img13">
                   
                </div>
                <div class="des">
                    <span>La rosenda</span>
                    <h5>Mate floreado madera</h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                    </div>
                    <h4>$2.300</h4>
                </div>
                <div class="cart">
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>

                </div>
            </div>
        </div>
    </section>
     

    <section id="pagination" class="section-p1">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#"><i class="fa-solid fa-arrow-right-long"></i></a>
    </section>
   <section id="novedades" class="section-p1 section-m1">
       <div class="novedadtexto">
           <h4>Suscribite para novedades y</h4>
           <p>Obtené <span>cupones</span> especiales de descuento</p>
       </div>
       <div class="form">
           <input type="text" placeholder="Tu email">
           <button class="normal">Enviame</button>
       </div>
   </section>


   <%- include('./partials/footer') %> 
    <script src="/javascripts/script.js"></script>
</body>

</html>