<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{
        title : 'Registrate'
    }) %> 
<body>
    <%- include('./partials/header') %> 
<main>
    <div class="slit-screen">
        <div class="left">
            <section class="copy">
                <h1>Registrate en mateando</h1>
                <p>Más de 500 productos</p>
            </section>
        </div>
        <div class="right">
            <form action="">
                <section class="copy">
                    <h2>Registrate</h2>
                    <div class="register-container">
                        <p>¿Ya tenés una cuenta? <a href="#"><strong>Inicia sesión</strong></strong></a></p>
                    </div>
                </section>
                <div class="input-container name">
                    <label for="fname">Nombre completo</label>
                    <input id="fname" name="fname" type="text">
                </div>
                <div class="input-container email">
                    <label for="email">Email</label>
                    <input id="email" name="email" type="email">
                </div>
                <div class="input-container password">
                    <label for="password">Contraseña</label>
                    <input id="password" name="password" type="password" placeholder="más de 8 caracteres">
                    <i class="fa-solid fa-eye"></i>
                </div>
                <div class="input-container cta">
                    <label for="" class="checkbox-container">
                        <input type="checkbox">
                        <span class="checkmark">
                            Suscribite a novedades
                        </span>
                    </label>
                </div>
                <button class="singup-btn" type="submit">Susribirme</button>
                <section class="copy-left">
                    <p><span class="small">Al continuar aceptas nuestros<a href="#"></a>términos y condiciones</span></p>
                </section>
            </form>
        </div>
    </div>
</main>


    <%- include('./partials/footer') %> 
</body>
</html>