<!DOCTYPE html>
    <html lang="en">
        <%- include('./partials/head',{
            title : 'Registro'
        }) %> 
    <body class="userForms">
        <%- include('./partials/header') %> 
    
        <main>
          <section class="glass">
           
            <div class="container-user">
              <div class="status">
                <h1>Registrate</h1>
               
              </div>
              <div class="cards">
               
                <div class="card">
                 
                  <div class="card-info">
                   <label for="email"><h3>Tu email</h3></label>
                   <input type="email" name="email" id="">
                  </div>
                 
                </div>
                <div class="card">
                 
                  <div class="card-info">
                   <label for="password"><h3>Tu contraseña</h3></label>
                   <input type="password" name="password" id="">
                  </div>
                 
                </div>
                <div class="card">
                 
                  <div class="card-info">
                   <label for="password"><h3>Repetir contraseña</h3></label>
                   <input type="password" name="password" id="">
                  </div>
                 
                </div>
              </div>
            </div>
          </section>
        </main>
     
      
    
        <%- include('./partials/footer') %> 
    </body>
   
</html>