

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}
.section-m1 
.container {
  width: 400px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section-m1 .container .center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.section-m1 .container .btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #59ac4e;
  outline: none;
  transition: 1s ease-in-out;
}

.section-m1 .container svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.section-m1 .container .btn:hover {
  transition: 1s ease-in-out;
  background: #5fda4f;
}

.section-m1 .container .btn:hover svg {
  stroke-dashoffset: -480;
}

.section-m1 .container .btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}
button.normal{
    /*boton del banner de descuento*/
font-size: 14px;
font-weight: 600;
padding: 10px 30px;
background-color: rgba(255, 255, 255, 0.64);
color: #535353;
border-radius: 5px;
cursor: pointer;
border: none;
outline: none;
transition: 0.3s ease-out;
}

button.white{
    /*boton del banner de ofertones*/
font-size: 13px;
font-weight: 600;
padding: 11px 18px;
background-color: transparent;
color: #04622d;
cursor: pointer;
border: 1px solid #04622d;
outline: none;
transition: 0.2s;
}

/*section hero*/
#hero {
    background-image: url('/images/fondo.jpg');
    height: 100vh;
    opacity: 80%;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h1 {
    color: #84b05d;
    text-shadow: 2px 2px 1px rgb(175, 223, 178);
    font-size: 80px;
    margin: 10px 0;
}

#hero h2 {
    color: white;
    text-shadow: 2px 1px 2px rgb(24, 90, 90);
font-size: 50px;
}

#hero h4 {
    padding-bottom: 15px;
    color: rgb(16, 132, 18);
    text-shadow: 2px 1px 2px rgb(168, 168, 168);
    font-size: 35px;
}

#hero button {
    border-radius: 4px;
    background-color: #36652d;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 25px;
    padding: 15px;
    width: 140px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 15px 0;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    display: inline-block;
    position: relative;
 
}
  
 
#hero button:after {
    content: ' »';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition:0.6s ease-in-out;
  }
  
  #hero button:hover{
    padding-right: 24px;
    padding-left:8px;
     background-image:     linear-gradient(
        to right, 
        #E7484F,
        #F68B1D, 
        #FCED00,
        #009E4F,
        #00AAC3,
        #732982
      );
    animation:slidebg 2s linear infinite;
  }
  @keyframes slidebg {
    to {
      background-position:20vw;
    }
  }
  
  .follow{
    margin-top: 30px;
  }
  
  .follow a{
    color: black;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  #hero button:hover:after {
    opacity: 1;
    right: 10px;
  }
/*section feature*/
#feature {
    display: flex;
    align-items: center;
    justify-content: center;
  flex-wrap: wrap;
}

#feature .fe-box {
    width: 150px;
    height: 230px;
    text-align: center;
    padding: 25px 15px;
   
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 20px;
    cursor: pointer;
    transition: 0.3s ease-in;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(43, 122, 57, 0.368);
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: white;
    background-color: #6c8853;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
    color: #37561b;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
    color: #6493a7;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
    color: #25399e;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
    color: #9c639c;

}

#feature .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
    color: #f3b373;
}
#feature .febox .image-container{
  
    width: 100%;
}

#feature .fe-box img {
    max-width: 100%;
    height: 140px;

    
}


/*products*/
#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    position: relative;
   
    min-width: 250px;
    padding: 10px 12px;
    border-radius: 15px;
   border-bottom: 2px solid rgba(136, 174, 143, 0.305);
    box-shadow: 15px 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease-in;
}

#product1 .pro:hover {
    box-shadow: 25px 25px 35px rgba(12, 90, 44, 0.152);
}



#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(220, 187, 0);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #37561b;
}

#product1 .pro .image-container{

width: 100%;
}
#product1 .pro .cart {

    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #d1e8f2aa;
    font-weight: 500;
    color: #24804c;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

/*banner*/

#banner {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('/images/banner.jpg');
    background-blend-mode: darken;
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#banner h4 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-shadow: 1px 1px 2px rgba(232, 255, 255, 0.514);

}

#banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
    text-shadow: 1px 2px 2px rgba(54, 54, 54, 0.443);
}
#banner h2 span{
    color: rgb(197, 0, 0);
}
#banner button:hover{
    background: #04622d;
    color: white;
}
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*el texto a la izquierda*/
    align-items: flex-start;
    background-image: url('/images/banner2.jpg');
    background-blend-mode: darken;
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px;
}
#sm-banner .banner-box2{
    /*banner de ofertones 25% off */
    margin: 15px 0;
    background-image: url('/images/banner3.webp');
    
}
#sm-banner h4{
    color: #04622d;
    font-size: 20px;
    font-weight: 400;
}
#sm-banner h2{
    color: #04622d;
    font-size: 28px;
    font-weight: 800;
}
#sm-banner span{
    color: #04622d;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
#sm-banner .banner-box:hover button{
background-color: #04622d;
color: #fff;
}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
    margin: 20px 0;
}
#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*el texto a la izquierda*/
    align-items: flex-start;
    background-image: url('/images/banner2.jpg');
    background-blend-mode: darken;
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
  
}
#banner3 .banner-box2{
    background-image: url('/images/banner2.jpg');

}
#banner3 .banner-box3{
    background-image: url('/images/banner2.jpg');
    
}
#banner3 h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}
#banner3 h3{
    color: #04622d;
    font-weight: 800;
    font-size: 15px;
}

#novedades{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #6c8853;
}
#novedades h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}
#novedades p{
    font-size: 14px;
    font-weight: 600;
    color: rgb(203, 203, 203);
}
#novedades p span{
    color: rgb(191, 200, 23);
}
#novedades .form{
    display: flex;
    width: 40%;
}
#novedades input{
    height: 3rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;

}
#novedades button{
    background-color: #04622d;
    color: #fff;
    white-space: nowrap;
 
}

footer{
    background-color: #d7dcdfeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    height: 100px;
}
footer .logo{
    margin-bottom: 30px;

}
.footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
.footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
.footer a{
    font-size: 13px;
    text-decoration: none;
    margin-bottom: 10px;
}
.footer .follow{
    margin-top: 20px;
}
.footer .follow i{
    color: gray;
    padding-right: 4px;
    cursor: pointer;
}
.footer .follow i:hover,
.footer a:hover{
    color: darkolivegreen;
}

.footer .copyright{
    width: 100%;
    text-align: center;
}

@media (max-width:920px) {
    /*esto sera un nav bar a la derecha desplegado en vertical*/
    .section-p1{
        padding: 40px 40px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        /*esto hace que no esté visible, la tira por fuera*/
        height: 100vh;
        width: 300px;
        background-color: #04622d;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar.active{
        /*se hace presente*/
        right: 0px;
       

    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
     #mobile i{
        color: #88cc7f;
      font-size: 24px;  
      padding-left: 20px;
     }
     #close{
         display: initial;
         /*la cruz que cierrra el menu en mobile*/
         position: absolute;
         top: 30px;
         left: 30px;
         color: #222;
         font-size: 24px;
     }
     #lg-bag{
         display: none;
     }
     #hero {
        height: 70vh;
        padding: 0 80px;
       background-position: top 30% right 30%;
    }
    #feature{
        justify-content: space-evenly;
    }
  
    #feature .fe-box{
        margin: 15px 15px;
    }

    #product1 .pro-container{
        justify-content: center;
    }
    #product1 .pro{
        margin: 15px;
    }
    #banner {
       height: 35vh;
    }
    #sm-banner{
        display: initial;
    }
    #sm-banner .banner-box{
        min-width: 100%;
        height: 30vh;
        margin: 10px 0;
    }
    #banner3{
        padding: 0 40px;
    }
    #banner3 .banner-box{
        width: 25%;
    }
    #novedades .form{
        width: 70%;
    }
} 
@media (max-width: 460px) {
    #header{
        padding: 10px 30px;

    }
    #hero{
        padding: 0 20px;
        background-position: 55%;
    }
  
    #feature .fe-box{
        width: 155px;
        margin: 0 0 15px 0;
    }
    h2{
        font-size: 32px;
    }
    h1{
        font-size: 38px;
    }
    #product1 .pro {
        width: 100%;
    }
    #banner{
        height: 50vh;
    }
    #sm-banner .banner-box{
        height: 40vh;
    }
    #sm-banner .banner-box2{
        margin-top: 20px;
    }
    #banner3{
        padding: 0 20px;
    }
    #banner3 .banner-box{
        width: 100%;
    }
    #novedades{
        padding: 40px 20px;
    }
    #novedades .form{
        width: 100%;
    }
}