
.productAdmin main{
    padding: 20px 0;
}
.productAdmin main h1{
    padding: 10px 0;

}
.productAdmin section{
    width: 70%;
    margin: 20px auto;
    padding: 10px;

}

.productAdmin h1{
    text-transform: uppercase;
    text-align: center;
}

.productAdmin label{
    font-size: 16px;
    font-weight: 500;
}
.productAdmin form{
    margin-top: 30px;
}
.productAdmin article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.productAdmin textarea{
    margin: 15px 0;
    display: block;
    width: 100%;
}
.productAdmin__form-box{
    text-align: center;
    margin: 15px 0;
    width: 80%;
}
.productAdmin__form-box span{
    color: red;
    font-size: 14px;
    text-align: center;
}
.productAdmin h4{
    margin-bottom: 10px;
}

.productAdmin__form-input,  .productAdmin__form-select{
text-align: center;
    border-radius: 15px;
    border: 2px solid rgb(124, 192, 142);
    height: 45px;
    width: 100%;
    margin: 10px 0 0;
    padding: 5px 5px;
}
.productAdmin__form-input input:invalid {
    background-color: red;

}

.productAdmin .buttons{
display: flex;
    justify-content: center;
    align-items: center;
}
.productAdmin .btnAdmin{
    border: none;
    padding: 10px;
    margin: 0 8px;
    background-color: rgb(103, 177, 87);
    color: rgb(11, 74, 34);
    text-align: center;
    border-radius: 10px;
}
.productAdmin .btnAdmin:nth-last-child(1):hover{
    background-color: red;
    border: none;
}
.productAdmin .btnAdmin:hover{
    background-color:darkgreen;
    color: rgb(255, 255, 255);
 
}
.formProducts, .formProducts2{
    padding: 15px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 5px;
  background-image: linear-gradient(-105deg, #9bbcf6 0%, #f2e796 100%);
  background-image: linear-gradient(to top, #99e5ad 0%, #6bedf6 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: .85;
}
.images-container img{
    width: 50%;
    border: 5px double rgb(160, 205, 167);
    margin: 10px 0;
    box-shadow: 5px 3px 15px 0px rgba(0,0,0,0.31);
}
.productAdmin .sectionEdit{
    width: 80%;
    margin: 20px auto;
    padding: 10px;

}
@media (min-width:768px){
    .productAdmin article{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .productAdmin article .register__form-box{
        width: 48%;
    }
    .productAdmin .sectionEdit{
        width: 60%;
      
    
    }
}

@media (min-width:1024px){
  .images-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .productAdmin .sectionEdit{
    width: 50%;
 }
 .productAdmin section{
    width: 50%;
 }
}