#product1 .pro .img{
    background-image: url('/images/Mate de @la_rosenda.jpg');
    background-position: center;    
    background-size: cover; 
    background-position: center;
    height: 300px;
    border-radius: 25px;
}
    #product1 .pro .img1{
    background-image: url('/images/mategatos.jpg');
    background-position: center;    
    background-size: cover; 
    height: 300px;
     border-radius: 25px;
}
    #product1 .pro .img2{
        background-image: url('/images/mate pintado con diseño de marganitas.jpg');
        background-position: center;    
        background-size: cover; 
        background-position: center;
        height: 300px;
        border-radius: 25px;
}
#product1 .pro .img0{
    background-image: url('/images/Mate Frida clásico f_lila.jpg');
    background-position: center;    
    background-size: cover; 
    background-position: center;
    height: 300px;
    border-radius: 25px;
}
#product1 .pro .img3{
    background-image: url('/images/Mate paisajes @aeternumartesanias.jpg');
    background-position: center;    
    background-size: cover; 
    background-position: center;
    height: 300px;
    border-radius: 25px;
}
#product1 .pro .img4{
    background-image: url('/images/mate porongo de calabaza repujada y plata.jpg');
    background-position: center;    
    background-size: cover; 
    background-position: center;
    height: 300px;
    border-radius: 25px;
}
#product1 .pro .img5{
    background-image: url('/images/Mate-Ceramica-con-bombilla-alpaca-.jpg');
    background-position: center;    
    background-size: cover; 
    background-position: center;
    height: 300px;
    border-radius: 25px;
}
#product1 .pro .img6{
    background-image: url('/images/matealpaca.jpg');
    background-position: center;    
    background-size: cover; 
    background-position: center;
    height: 300px;
    border-radius: 25px;
}
#product1 .pro .img7{
    background-image: url('/images/mateflores.jpg');
    background-position: center;    
    background-size: cover; 
    background-position: center;
    height: 300px;
    border-radius: 25px;
}
#product1 .pro .img8{
    background-image: url('/images/mategatos.jpg');
    background-position: center;    
    background-size: cover; 
    background-position: center;
    height: 300px;
    border-radius: 25px;
}
#product1 .pro .img9{
    background-image: url('/images/mategris.jpg');
    background-position: center;    
    background-size: cover; 
    background-position: center;
    height: 300px;
    border-radius: 25px;
}
#product1 .pro .img10{
    background-image: url('/images/matelila.jpg');
    background-position: center;    
    background-size: cover; 
    background-position: center;
    height: 300px;
    border-radius: 25px;
}
#product1 .pro .img11{
    background-image: url('/images/MATES DE CUERO.jpg');
    background-position: center;    
    background-size: cover; 
    background-position: center;
    height: 300px;
    border-radius: 25px;
}
#product1 .pro .img12{
    background-image: url('/images/MATES Y OBJETOS PINTADOS on Instagram_ “Divinos estos mates ❤”.jpg');
    background-position: center;    
    background-size: cover; 
    background-position: center;
    height: 300px;
    border-radius: 25px;
}
#product1 .pro .img13{
    background-image: url('/images/MATES_8125.jpg');
    background-position: center;    
    background-size: cover; 
    background-position: center;
    height: 300px;
    border-radius: 25px;
}
#product1 .pro .img14{
    background-image: url('/images/mateblanco.jpg');
    background-position: center;    
    background-size: cover; 
    background-position: center;
    height: 300px;
    border-radius: 25px;
}