
  
  .userForms h1 {
    color: darkolivegreen;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
    text-align: center;
  }
  .userForms h2,
  .userForms p {
    color: darkolivegreen;
    font-weight: 500;
    opacity: 0.8;
  }
  
  .userForms h3 {
    color: darkolivegreen;
    font-weight: 600;
    opacity: 0.8;
    margin: 10px 0;
  }
  .userForms input {
    display: block;
		appearance: none;
		outline: 0;
    border: none;
		border-bottom: 1px solid darkgreen;
	/* 	background-color: fade(white, 20%); */
		width: 200px;
		background: transparent;
		border-radius: 3px;
		padding: 10px 15px;
		margin: 0 auto 10px auto;
	
		text-align: center;
		font-size: 18px;
		
		color: white;
		
		transition-duration: 0.25s;
		font-weight: 300;
  }
  .userForms  input :hover{
			background-color: fade(white, 40%);
		}
		
    .userForms  input:focus{
      background: linear-gradient(to right top, #fdffff, #e0e2e2c7);
			width: 300px;
			border-bottom: none;
			color: rgba(137, 137, 137, 0.662);
		}
  
  .userForms main {
   background-image: url('/images/bg3.jpg');
   background-size: cover;
  background-repeat: no-repeat;
  
   /*  background: linear-gradient(to right top, #65dfc9, #6cdbeb); */
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
  }
  .userForms .glass {
    background: rgb(229, 237, 214);

    background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3) );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

}
.userForms .buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}
  .userForms button {
    background: white;
    color: darkolivegreen;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
    );
    backdrop-filter: blur(2rem);
   border: none;
   width: 5rem;
   height: 2rem;
   margin: 6px;
   padding: 5px;
   cursor: pointer;
   border-radius: 5px;
   transition: .2s ease-in-out;
  }
  .userForms button:hover{
    background: darkgreen;
    color: white;

  }
  .userForms button:hover:nth-last-child(1){background: red;}

  .userForms .dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
  }
  .userForms .link {
    display: flex;
    margin: 2rem 0rem;
    padding: 1rem 5rem;
    align-items: center;
  }
  .userForms .link h2 {
    padding: 0rem 2rem;
  }
 
  .userForms .container-user {
    flex: 2;
  }
  
  .userForms .pro {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    border-radius: 2rem;
    color: white;
    padding: 1rem;
    position: relative;
  }
  
  .userForms .pro img {
    position: absolute;
    top: -10%;
    right: 10%;
  }
  .userForms .pro h2 {
    width: 40%;
    color: white;
    font-weight: 600;
  }
  
  /* container-user */
  .userForms .status {
    margin-bottom: 3rem;
  }
  
  .userForms .status input {
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border: none;
    width: 50%;
    padding: 0.5rem;
    border-radius: 2rem;
  }
  
  .userForms .container-user {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .userForms .card {
    display: flex;
    height: 130px;
    background: linear-gradient(
      to left top,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.5)
    );
    border-radius: 1rem;
    margin: 2rem 0rem;
    padding: 2rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    justify-content: space-between;
    align-items: center;
  }
  
  .userForms .progress {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    width: 100%;
    height: 25%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
  }
  .userForms .progress::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(236, 236, 236);
    position: absolute;
    left: 60%;
  }
  .userForms .card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  